<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_boletas_service_sp.mapper.AditionalFieldPaymentVoucherMapper">
    <insert id="insert" parameterType="com.certicom.certifact_boletas_service_sp.model.AditionalFieldPaymentVoucherModel">
        INSERT INTO aditional_field_payment_voucher (id, nombre_campo, valor_campo, id_payment_voucher, type_field_id)
        VALUES (nextval('aditional_field_payment_voucher_seq'), #{nombreCampo}, #{valorCampo}, #{idPaymentVoucher}, #{typeFieldId})
    </insert>
    <delete id="deleteById" parameterType="Long">
        DELETE FROM aditional_field_payment_voucher WHERE id = #{id}
    </delete>
    <select id="findAllByIdPaymentVoucher" parameterType="Long">
        SELECT id, nombre_campo, valor_campo, id_payment_voucher, type_field_id FROM aditional_field_payment_voucher WHERE id_payment_voucher = #{id}
    </select>
    <update id="update" parameterType="com.certicom.certifact_boletas_service_sp.model.AditionalFieldPaymentVoucherModel">
        UPDATE aditional_field_payment_voucher
        set nombre_campo = #{nombreCampo},
            valor_campo = #{valorCampo},
            id_payment_voucher = #{idPaymentVoucher},
            type_field_id = #{typeFieldId}
        WHERE id = #{id}
    </update>
    <update id="updateAll" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE aditional_field_payment_voucher
            SET nombre_campo = #{item.nombreCampo},
            valor_campo = #{item.valorCampo},
            id_payment_voucher = #{item.idPaymentVoucher},
            type_field_id = #{item.typeFieldId}
            WHERE id = #{item.id}
        </foreach>
    </update>
    <select id="listAditionalFieldByIdPaymentVoucher" parameterType="Long">
        SELECT id, nombre_campo, valor_campo, id_payment_voucher, type_field_id FROM aditional_field_payment_voucher WHERE id_payment_voucher = #{id}
    </select>
    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO aditional_field_payment_voucher (
            id,
            nombre_campo,
            valor_campo,
            id_payment_voucher,
            type_field_id
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                nextval('aditional_field_payment_voucher_seq'),
                #{item.nombreCampo},
                #{item.valorCampo},
                #{item.idPaymentVoucher},
                #{item.typeFieldId}
            )
        </foreach>
    </insert>
</mapper>