<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.certicom.certifact_boletas_service_sp.mapper.DetailDocsSummaryMapper">
    <insert id="save" parameterType="com.certicom.certifact_boletas_service_sp.model.DetailDocsSummaryModel">
        INSERT INTO detail_docs_summary (
        id_detail_docs_summary, estado, estado_item, importe_total_venta, num_doc_receptor, numero_afectado, numero_documento,
        numero_item, serie_afectado, serie_documento, sumatoria_otro_cargos, tipo_comprobante, tip_comprob_afectado, tip_doc_ident_receptor,
        total_igv, total_isc, total_otros_trib, total_oper_exonerado, total_oper_exportacion, total_oper_gratuita, total_oper_gravada,
        total_oper_inafecta, id_docs_summary, id_payment_voucher
        )
        VALUES (nextval('detail_summary_seq'), #{estado}, #{estadoItem}, #{importeTotalVenta}, #{numDocReceptor}, #{numeroAfectado},
        #{numeroDocumento}, #{numeroItem}, #{serieAfectado}, #{serieDocumento}, #{sumatoriaOtroCargos}, #{tipoComprobante}, #{tipComprobAfectado},
        #{tipDocIdentReceptor}, #{totalIgv}, #{totalIsc}, #{totalOtrosTrib}, #{totalOperExonerado}, #{totalOperExportacion}, #{totalOperGratuita},
        #{totalOperGravada}, #{totalOperInafecta}, #{idDocsSummary}, #{idPaymentVoucher})
    </insert>
    <update id="update" parameterType="com.certicom.certifact_boletas_service_sp.model.DetailDocsSummaryModel">
        UPDATE detail_docs_summary SET
            estado                   = #{estado},
            estado_item              = #{estadoItem},
            importe_total_venta      = #{importeTotalVenta},
            num_doc_receptor         = #{numDocReceptor},
            numero_afectado          = #{numeroAfectado},
            numero_documento         = #{numeroDocumento},
            numero_item              = #{numeroItem},
            serie_afectado           = #{serieAfectado},
            serie_documento          = #{serieDocumento},
            sumatoria_otro_cargos    = #{sumatoriaOtroCargos},
            tipo_comprobante         = #{tipoComprobante},
            tip_comprob_afectado     = #{tipComprobAfectado},
            tip_doc_ident_receptor   = #{tipDocIdentReceptor},
            total_igv                = #{totalIgv},
            total_isc                = #{totalIsc},
            total_otros_trib         = #{totalOtrosTrib},
            total_oper_exonerado     = #{totalOperExonerado},
            total_oper_exportacion   = #{totalOperExportacion},
            total_oper_gratuita      = #{totalOperGratuita},
            total_oper_gravada       = #{totalOperGravada},
            total_oper_inafecta      = #{totalOperInafecta},
            id_docs_summary          = #{idDocsSummary},
            id_payment_voucher       = #{idPaymentVoucher}
        WHERE id_payment_voucher = #{idPaymentVoucher}
    </update>
    <select id="findByIdDocsSummary" resultType="com.certicom.certifact_boletas_service_sp.model.DetailDocsSummaryModel">
        SELECT id_detail_docs_summary, estado, estado_item, importe_total_venta, num_doc_receptor, numero_afectado, numero_documento,
        numero_item, serie_afectado, serie_documento, sumatoria_otro_cargos, tipo_comprobante, tip_comprob_afectado, tip_doc_ident_receptor,
        total_igv, total_isc, total_otros_trib, total_oper_exonerado, total_oper_exportacion, total_oper_gratuita, total_oper_gravada,
        total_oper_inafecta, id_docs_summary FROM detail_docs_summary WHERE id_docs_summary = #{idDocsSummary}
    </select>
    <select id="getIdDocumentSummaryByIdPaymentVoucher" resultType="Long">
        SELECT id_docs_summary FROM detail_docs_summary WHERE id_payment_voucher= #{id}
    </select>
</mapper>