<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_boletas_service_sp.mapper.DetailsPaymentVoucherMapper">
    <insert id="insert" parameterType="com.certicom.certifact_boletas_service_sp.model.DetailsPaymentVoucherModel">
        INSERT INTO details_payment_voucher
        (id_details_payment, afectacion_igv, cantidad, cod_producto, cod_prod_sunat, cod_tip_afectacion_igv,
        cod_tip_sistema_isc, cod_unid_medida, descripcion_producto, descuento, estado, numero_item, precio_venta_unit,
        sistema_isc, valor_referencial_unit, valor_unit, valor_venta, id_payment_voucher, codigo_dscto, cod_producto_gs1,
        monto_base_exone, monto_base_export, monto_base_grat, monto_base_igv, monto_base_inafec, monto_base_isc,
        monto_base_ivap, monto_otros_trib, porcent_igv, porcent_isc, porcent_ivap, porcent_otr_trib, porcent_vta_grat,
        monto_trib_vta_grat, detalle_viaje_detraccion, direccion_destino_detraccion, direccion_origen_detraccion, ubigeo_destino_detraccion,
        ubigeo_origen_detraccion, valor_carga_efectiva, valor_carga_util, valor_servicio_transporte, hidro_cantidad, hidro_descripcion_tipo,
        hidro_embarcacion, hidro_fecha_descarga, hidro_lugar_descarga, hidro_matricula, monto_base_icbper, monto_icbper,instrucciones_especiales,
        marca, unidad_manejo, adicional)
        VALUES (nextval('detail_payment_voucher_seq'), #{igv}, #{cantidad}, #{codigoProducto}, #{codigoProductoSunat},
        #{codigoTipoAfectacionIGV}, #{codigoTipoCalculoISC}, #{codigoUnidadMedida}, #{descripcion}, #{descuento}, #{estado}, #{numeroItem},
        #{precioVentaUnitario}, #{codigoTipoCalculoISC}, #{valorReferencialUnitario}, #{valorUnitario}, #{valorVenta}, #{idPaymentVoucher}, #{codigoDescuento},
        #{codigoProductoGS1}, #{montoBaseExonerado}, #{montoBaseExportacion}, #{montoBaseGratuito}, #{montoBaseIgv}, #{montoBaseInafecto}, #{montoBaseIsc},
        #{montoBaseIvap}, #{montoBaseOtrosTributos}, #{porcentajeIgv}, #{porcentajeIsc}, #{porcentajeIvap}, #{porcentajeOtrosTributos}, #{porcentajeTributoVentaGratuita},
        #{impuestoVentaGratuita}, #{detalleViajeDetraccion}, #{direccionDestinoDetraccion}, #{direccionOrigenDetraccion}, #{ubigeoDestinoDetraccion}, #{ubigeoOrigenDetraccion},
        #{valorCargaEfectiva}, #{valorCargaUtil}, #{valorServicioTransporte}, #{hidroCantidad}, #{hidroDescripcionTipo}, #{hidroEmbarcacion}, #{hidroFechaDescarga},
        #{hidroLugarDescarga}, #{hidroMatricula}, #{montoBaseIcbper}, #{montoIcbper}, #{instruccionesEspeciales}, #{marca}, #{unidadManejo}, #{adicional})
    </insert>
    <delete id="deleteById" parameterType="Long">
        DELETE FROM details_payment_voucher WHERE id_details_payment = #{id}
    </delete>
    <select id="findAllByIdPaymentVoucher" resultType="com.certicom.certifact_boletas_service_sp.model.DetailsPaymentVoucherModel">
        SELECT
        id_details_payment AS idComprobanteDetalle,
        afectacion_igv AS IGV
        FROM details_payment_voucher WHERE id_payment_voucher = #{id}
    </select>
    <update id="update" parameterType="com.certicom.certifact_boletas_service_sp.model.DetailsPaymentVoucherModel">
        UPDATE details_payment_voucher
        SET
            afectacion_igv = #{afectacionIgv},
            cantidad = #{cantidad},
            cod_producto = #{codProducto},
            cod_prod_sunat = #{codProdSunat},
            cod_tip_afectacion_igv = #{codTipAfectacionIgv},
            cod_tip_sistema_isc = #{codTipSistemaIsc},
            cod_unid_medida = #{codUnidMedida},
            descripcion_producto = #{descripcionProducto},
            descuento = #{descuento},
            estado = #{estado},
            numero_item = #{numeroItem},
            precio_venta_unit = #{precioVentaUnit},
            sistema_isc = #{sistemaIsc},
            valor_referencial_unit = #{valorReferencialUnit},
            valor_unit = #{valorUnit},
            valor_venta = #{valorVenta},
            id_payment_voucher = #{idPaymentVoucher},
            codigo_dscto = #{codigoDscto},
            cod_producto_gs1 = #{codProductoGs1},
            monto_base_exone = #{montoBaseExone},
            monto_base_export = #{montoBaseExport},
            monto_base_grat = #{montoBaseGrat},
            monto_base_igv = #{montoBaseIgv},
            monto_base_inafec = #{montoBaseInafec},
            monto_base_isc = #{montoBaseIsc},
            monto_base_ivap = #{montoBaseIvap},
            monto_otros_trib = #{montoOtrosTrib},
            porcent_igv = #{porcentIgv},
            porcent_isc = #{porcentIsc},
            porcent_ivap = #{porcentIvap},
            porcent_otr_trib = #{porcentOtrTrib},
            porcent_vta_grat = #{porcentVtaGrat},
            monto_trib_vta_grat = #{montoTribVtaGrat},
            detalle_viaje_detraccion = #{detalleViajeDetraccion},
            direccion_destino_detraccion = #{direccionDestinoDetraccion},
            direccion_origen_detraccion = #{direccionOrigenDetraccion},
            ubigeo_destino_detraccion = #{ubigeoDestinoDetraccion},
            ubigeo_origen_detraccion = #{ubigeoOrigenDetraccion},
            valor_carga_efectiva = #{valorCargaEfectiva},
            valor_carga_util = #{valorCargaUtil},
            valor_servicio_transporte = #{valorServicioTransporte},
            hidro_cantidad = #{hidroCantidad},
            hidro_descripcion_tipo = #{hidroDescripcionTipo},
            hidro_embarcacion = #{hidroEmbarcacion},
            hidro_fecha_descarga = #{hidroFechaDescarga},
            hidro_lugar_descarga = #{hidroLugarDescarga},
            hidro_matricula = #{hidroMatricula},
            monto_base_icbper = #{montoBaseIcbper},
            monto_icbper = #{montoIcbper},
            instrucciones_especiales = #{instruccionesEspeciales},
            marca = #{marca},
            unidad_manejo = #{unidadManejo},
            adicional = #{adicional}
        WHERE id_details_payment = #{idDetailsPayment}
    </update>
    <update id="updateAll" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE details_payment_voucher
            SET
            afectacion_igv = #{item.afectacionIgv},
            cantidad = #{item.cantidad},
            cod_producto = #{item.codProducto},
            cod_prod_sunat = #{item.codProdSunat},
            cod_tip_afectacion_igv = #{item.codTipAfectacionIgv},
            cod_tip_sistema_isc = #{item.codTipSistemaIsc},
            cod_unid_medida = #{item.codUnidMedida},
            descripcion_producto = #{item.descripcionProducto},
            descuento = #{item.descuento},
            estado = #{item.estado},
            numero_item = #{item.numeroItem},
            precio_venta_unit = #{item.precioVentaUnit},
            sistema_isc = #{item.sistemaIsc},
            valor_referencial_unit = #{item.valorReferencialUnit},
            valor_unit = #{item.valorUnit},
            valor_venta = #{item.valorVenta},
            id_payment_voucher = #{item.idPaymentVoucher},
            codigo_dscto = #{item.codigoDscto},
            cod_producto_gs1 = #{item.codProductoGs1},
            monto_base_exone = #{item.montoBaseExone},
            monto_base_export = #{item.montoBaseExport},
            monto_base_grat = #{item.montoBaseGrat},
            monto_base_igv = #{item.montoBaseIgv},
            monto_base_inafec = #{item.montoBaseInafec},
            monto_base_isc = #{item.montoBaseIsc},
            monto_base_ivap = #{item.montoBaseIvap},
            monto_otros_trib = #{item.montoOtrosTrib},
            porcent_igv = #{item.porcentIgv},
            porcent_isc = #{item.porcentIsc},
            porcent_ivap = #{item.porcentIvap},
            porcent_otr_trib = #{item.porcentOtrTrib},
            porcent_vta_grat = #{item.porcentVtaGrat},
            monto_trib_vta_grat = #{item.montoTribVtaGrat},
            detalle_viaje_detraccion = #{item.detalleViajeDetraccion},
            direccion_destino_detraccion = #{item.direccionDestinoDetraccion},
            direccion_origen_detraccion = #{item.direccionOrigenDetraccion},
            ubigeo_destino_detraccion = #{item.ubigeoDestinoDetraccion},
            ubigeo_origen_detraccion = #{item.ubigeoOrigenDetraccion},
            valor_carga_efectiva = #{item.valorCargaEfectiva},
            valor_carga_util = #{item.valorCargaUtil},
            valor_servicio_transporte = #{item.valorServicioTransporte},
            hidro_cantidad = #{item.hidroCantidad},
            hidro_descripcion_tipo = #{item.hidroDescripcionTipo},
            hidro_embarcacion = #{item.hidroEmbarcacion},
            hidro_fecha_descarga = #{item.hidroFechaDescarga},
            hidro_lugar_descarga = #{item.hidroLugarDescarga},
            hidro_matricula = #{item.hidroMatricula},
            monto_base_icbper = #{item.montoBaseIcbper},
            monto_icbper = #{item.montoIcbper},
            instrucciones_especiales = #{item.instruccionesEspeciales},
            marca = #{item.marca},
            unidad_manejo = #{item.unidadManejo},
            adicional = #{item.adicional}
            WHERE id_details_payment = #{item.idDetailsPayment}
        </foreach>
    </update>

</mapper>