<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_boletas_service_sp.mapper.GuiaPaymentVoucherMapper">
    <insert id="save" parameterType="com.certicom.certifact_boletas_service_sp.model.GuiaPaymentVoucherModel">
        INSERT INTO guia_payment_voucher(id_guia_payment, codigo_tipo_guia, serie_numero_guia, id_payment_voucher)
        VALUES (nextval('idx_cuotas_id_payment_voucher'), #{codigoTipoGuia}, #{serieNumeroGuia}, #{idPaymentVoucher})
    </insert>
    <delete id="deleteById" parameterType="Long">
        DELETE FROM guia_payment_voucher WHERE id_guia_payment = #{id}
    </delete>
    <select id="findAllByIdPaymentVoucher" parameterType="Long">
        SELECT id_guia_payment, codigo_tipo_guia, serie_numero_guia, id_payment_voucher, idguiaremision
        FROM guia_payment_voucher WHERE id_payment_voucher = #{id}
    </select>
    <update id="update" parameterType="com.certicom.certifact_boletas_service_sp.model.GuiaPaymentVoucherModel">
        UPDATE guia_payment_voucher
        set codigo_tipo_guia = #{codigoTipoGuia},
            serie_numero_guia = #{serieNumeroGuia},
            id_payment_voucher = #{idPaymentVoucher},
        WHERE id_guia_payment = #{idGuiaPayment}
    </update>
    <update id="updateAll" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE guia_payment_voucher
            SET codigo_tipo_guia = #{item.codigoTipoGuia},
            serie_numero_guia = #{item.serieNumeroGuia},
            id_payment_voucher = #{item.idPaymentVoucher}
            WHERE id_guia_payment = #{item.idGuiaPayment}
        </foreach>
    </update>
    <select id="listGuiasByIdPaymentVoucher" parameterType="Long">
        SELECT id_guia_payment, codigo_tipo_guia, serie_numero_guia, id_payment_voucher, idguiaremision
        FROM guia_payment_voucher WHERE id_payment_voucher = #{id}
    </select>
    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO guia_payment_voucher (
            id_guia_payment,
            codigo_tipo_guia,
            serie_numero_guia,
            id_payment_voucher
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                nextval('idx_cuotas_id_payment_voucher'),
                #{item.codigoTipoGuia},
                #{item.serieNumeroGuia},
                #{item.idPaymentVoucher}
            )
        </foreach>
    </insert>
</mapper>