<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.certicom.certifact_boletas_service_sp.mapper.SummaryDocumentsMapper">
    <select id="getCorrelativoInSummary">
        SELECT coalesce(max(correlativo_dia),0)
        FROM summary_documents s
        WHERE s.ruc_emisor = #{rucEmisor} and s.fecha_emision = #{fechaEmision};
    </select>
    <insert id="save" parameterType="com.certicom.certifact_boletas_service_sp.model.SummaryDocumentsModel"
            useGeneratedKeys="true" keyProperty="idDocumentSummary" keyColumn="id_document_summary">
        INSERT INTO summary_documents (
            id_document_summary, code_response, correlativo_dia, description_response, estado, estado_documento, fecha_emision,
            fecha_generacion, fecha_generacion_resumen, fecha_modificacion, id_document, ruc_emisor, ticket_sunat, user_name,
            user_name_modify, intentos_get_status
        )
        VALUES (nextval('documents_summary_seq'), #{codeResponse}, #{correlativoDia}, #{descripcionResponse}, #{estado}, #{estadoDocumento},
                #{fechaEmision}, #{fechaGeneracion}, #{fechaGeneracionResumen}, #{fechaModificacion}, #{idDocument}, #{rucEmisor}, #{ticketSunat},
                #{userName}, #{userNameModify}, #{intentosGetStatus})
    </insert>
    <select id="findById" parameterType="Long" resultType="com.certicom.certifact_boletas_service_sp.model.SummaryDocumentsModel">
        SELECT id_document_summary, code_response, correlativo_dia, description_response, estado, estado_documento, fecha_emision,
        fecha_generacion, fecha_generacion_resumen, fecha_modificacion, id_document, ruc_emisor, ticket_sunat, user_name,
        user_name_modify, intentos_get_status FROM summary_documents WHERE id_document_summary = #{id}
    </select>
    <select id="getEstadoAndRucEmisorByNumeroTicket" parameterType="String" resultType="com.certicom.certifact_boletas_service_sp.dto.others.RucEstadoOther">
        SELECT ruc_emisor, estado FROM summary_documents
        WHERE ticket_sunat = #{ticket}
    </select>
    <select id="getEstadoByNumeroTicket" parameterType="String">
        SELECT estado from summary_documents s
        where s.ticket_sunat = #{ticket}
    </select>
    <select id="findByTicket" resultType="com.certicom.certifact_boletas_service_sp.model.SummaryDocumentsModel">
        SELECT id_document_summary, code_response, correlativo_dia, description_response, estado, estado_documento, fecha_emision,
        fecha_generacion, fecha_generacion_resumen, fecha_modificacion, id_document, ruc_emisor, ticket_sunat, user_name,
        user_name_modify, intentos_get_status FROM summary_documents WHERE ticket_sunat = #{ticketSunat}
    </select>
</mapper>